# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\uqckazad\Dropbox\Postdoc Research\CRC-P Project\AI Component\NNN\GA_Optimization\HyperParameters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
